<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/default}">
<head>
    <title>dashboard</title>
    <style>
        /* 공통 */
        #dashboard-downloads-chart,
        #dashboard-visits-chart {
            height: 220px;
        }
        body {
            font-family: 'Open Sans', sans-serif;
        }
        .section {
            margin-bottom: 15px;
        }
        @media (min-width: 1200px) {
            .section {
                margin-bottom: 25px;
            }
        }
        .card {
            margin-bottom: 10px;
        }
        .title {
            font-weight: bold;
            color: #5865F2;
        }

        /* 커뮤니티 카테고리 분포율 */
        .row-sm [class^='col'] {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media (min-width: 576px) {
            .col-sm-6 {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        .stats-container {
            max-height: 300px; /* 원하는 최대 높이 설정 */
            overflow-y: scroll; /* 스크롤바 추가 */
        }
        .stat-col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin-bottom: 20px;
            float: left;
            white-space: nowrap;
            overflow: hidden;
        }
        .stat {
            display: flex;
            align-items: center;
        }
        .stat-icon {
            margin-right: 10px;
            color: #BDBDBD;
            display: inline-block;
            font-size: 26px;
            text-align: center;
            vertical-align: middle;
            width: 50px;
        }
        .value {
            font-size: 18px;
            font-weight: bold;
        }
        .name {
            font-size: 14px;
            color: #888; /* 설명 텍스트 색상 */
        }
        .stat-progress {
            height: 2px;
            width: 100%;
            margin-top: 5px;
        }

        /* 회원 접속량 */
        .card-header {
            display: flex;
            align-items: center; /* 헤더와 탭을 수직 정렬 */
            justify-content: space-between; /* 헤더와 탭 사이의 공간 조정 */
            border-bottom: 1px solid #d7dde4;
        }
        .card-block {
            padding: 15px;
        }
        .card-block-visit {
            padding: 20px;
        }
        .header-block {
            flex-grow: 1; /* 헤더가 남은 공간을 채우도록 설정 */
            padding: 0.5rem 15px;
            align-items: center;
        }
        .nav-tabs {
            border-color: transparent;
            align-self: stretch;
            display: flex;
            position: relative;
            top: 1px;
        }
        .title {
            color: #4f5f6f;
            font-size: 1.1rem;
            font-weight: 600;
        }
        h3 {
            margin-bottom: 0px;
        }
        #dashboard-dates-chart svg, #dashboard-browsers-chart svg {
            transition: none; /* SVG 자체에는 트랜지션 적용 안 함 */
            width: 100%;
            height: 220px;
        }

        /* 지역 별 조회수 */
        .dashboard-sales-breakdown-chart {
            margin: 0 auto;
            width: 250px;
            height: 250px;
        }

        /* 광고 통계량 */
        /*.flot-chart {*/
        /*    display: flex;*/
        /*    align-items: center;*/
        /*    justify-content: center;*/
        /*    width: 100%;*/
        /*    height: 250px;*/
        /*}*/

        #dashboard-advertisement-chart svg, #dashboard-Total-chart svg {
            transition: none; /* SVG 자체에는 트랜지션 적용 안 함 */
            width: 100%;
            height: 232px;
        }

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body id="page-top">
    <main layout:fragment="main">
        <section class="section">
            <div class="row sameheight-container">
                <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                    <div class="card sameheight-item stats" data-exclude="xs">
                        <div class="card-block">

                            <div class="title-block">
                                <h4 class="title">
                                    커뮤니티 카테고리 분포율
                                </h4>
                            </div>

                            <div class="row row-sm stats-container">
                                <div class="col-12 col-sm-6 stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fas fa-binoculars"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                5
                                            </div>
                                            <div class="name">
                                                모험
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 3.5%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fas fa-mug-hot"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                11
                                            </div>
                                            <div class="name">
                                                휴식
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 7.69%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                2
                                            </div>
                                            <div class="name">
                                                문화
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 1.4%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fa fa-leaf"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                7
                                            </div>
                                            <div class="name">
                                                자연
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 4.9%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fas fa-utensils"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                20
                                            </div>
                                            <div class="name">
                                                맛집
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 13.99%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fas fa-hourglass-end"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                6
                                            </div>
                                            <div class="name">
                                                역사
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 4.2%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="bi bi-stars"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                12
                                            </div>
                                            <div class="name">
                                                럭셔리
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 8.39%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fas fa-users"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                21
                                            </div>
                                            <div class="name">
                                                가족
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 14.69%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="bi bi-hearts"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                34
                                            </div>
                                            <div class="name">
                                                로맨틱
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 23.78%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fas fa-shopping-bag"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                9
                                            </div>
                                            <div class="name">
                                                쇼핑
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 6.29%;"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6  stat-col">
                                    <div class="stat">
                                        <div class="stat-icon">
                                            <i class="fas fa-music"></i>
                                        </div>
                                        <div>
                                            <div class="value">
                                                16
                                            </div>
                                            <div class="name">
                                                축제
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress stat-progress">
                                        <div class="progress-bar" style="width: 11.19%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 회원 접속량 -->
                <div class="col col-12 col-sm-12 col-md-6 col-xl-7 history-col">
                    <div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
                        <div class="card-header card-header-sm bordered">
                            <div class="header-block">
                                <h3 class="title">회원 접속량</h3>
                            </div>
                            <ul class="nav nav-tabs pull-right" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="#dates" role="tab" data-toggle="tab">Dates</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#browsers" role="tab" data-toggle="tab">Browsers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-block-visit">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade" id="dates">
                                    <p class="title-description">
                                        Number of unique visits last 6 months
                                    </p>
                                    <div id="dashboard-dates-chart"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane active fade show" id="browsers">
                                    <p class="title-description">
                                        Number of unique visits last 6 months
                                    </p>
                                    <div id="dashboard-browsers-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="row sameheight-container">
                <!-- 광고 통계량 -->
                <div class="col-xl-8">
                    <div class="card sameheight-item" data-exclude="xs">
                        <div class="card-header card-header-sm bordered">
                            <div class="header-block">
                                <h3 class="title">광고 통계량</h3>
                            </div>
                            <ul class="nav nav-tabs pull-right" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#adClick" role="tab" data-toggle="tab">Clicks</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#amount" role="tab" data-toggle="tab">Total</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-block-visit">
                            <div class="tab-content">
<!--                                <div role="tabpanel" class="tab-pane active fade show">-->
                                    <div id="dashboard-advertisement-chart"></div>
<!--                                </div>-->
<!--                                <div role="tabpanel" class="tab-pane fade">-->
<!--                                    <p class="title-description">-->
<!--                                        Number of unique visits last 6 months-->
<!--                                    </p>-->
                                    <div id="dashboard-Total-chart"></div>
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 지역 별 상품 조회수 -->
                <div class="col-xl-4">
                    <div class="card sameheight-item sales-breakdown" data-exclude="xs,sm,lg">
                        <div class="card-header">
                            <div class="header-block">
                                <h3 class="title">
                                    지역 별 상품 조회수
                                </h3>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="dashboard-sales-breakdown-chart" id="dashboard-sales-breakdown-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            document.querySelector('.card-header').style.padding = '0';
            const $dashboardSalesBreakdownChart = $('#dashboard-sales-breakdown-chart');

            const loginInfoList = `[[${loginInfoList}]]`;
            let dataVisits = loginInfoList
                .slice(1, -1) // 양쪽 끝의 대괄호 제거
                .split(/,\s*VisitCountDto/) // 각 VisitCountDto로 분리
                .map(item => {
                    const match = item.match(/visitMonth=(\d{4}-\d{2}), visitCount=(\d+)/);
                    if (match) {
                        return { visitMonth: match[1], visitCount: parseInt(match[2], 10) };
                    }
                })
                .filter(Boolean); // 유효한 객체만 필터링

            const browserCounts = `[[${browserCounts}]]`;
            let browsersVisits = browserCounts
                .slice(1, -1) // 양쪽 끝의 대괄호 제거
                .split(/,\s*BrowserCountDto/) // 각 VisitCountDto로 분리
                .map(item => {
                    const match = item.match(/browserInfo=(\w+), visitCount=(\d+)/); // 정규식으로 매칭
                    if (match) {
                        return { browserInfo: match[1], visitCount: parseInt(match[2], 10) };
                    }
                })
                .filter(Boolean); // 유효한 객체만 필터링

            const config = {
                chart: {
                    colorPrimary: '#5865F2',  // 원하는 기본 색상
                    colorSecondary: '#3B67FF' // 원하는 보조 색상
                }
            };

            drawBrowsersChart();

            $('a[data-toggle="tab"]').on('click', function (e) {
                e.preventDefault();  // 기본 동작 방지 (탭 전환 동작)

                // 현재 활성화된 탭과 컨텐츠를 비활성화
                $('a[data-toggle="tab"]').removeClass('active');
                $('.tab-pane').removeClass('active show');

                // 클릭된 탭을 활성화
                $(this).addClass('active');

                // 해당 탭의 컨텐츠를 활성화
                const item = $(this).attr('href').replace('#', '');
                $('#' + item).addClass('active show');

                // 차트 전환 함수 호출
                switchHistoryCharts(item);
            });

            $(document).on("themechange", function(){
                switchHistoryCharts(item);
            });

            function switchHistoryCharts(item){
                let chartSelector = "#dashboard-" + item + "-chart";

                if ($(chartSelector).has('svg').length) {
                    $(chartSelector).empty();
                }

                if(item === "dates") {
                    document.getElementById("dashboard-browsers-chart").style.opacity = 0; // 투명하게 설정
                    setTimeout(() => {
                        document.getElementById("dashboard-browsers-chart").style.display = 'none'; // 요소를 숨김
                    }, 500); // 트랜지션 지속 시간과 일치시킴
                } else {
                    document.getElementById("dashboard-dates-chart").style.opacity = 0; // 투명하게 설정
                    setTimeout(() => {
                        document.getElementById("dashboard-dates-chart").style.display = 'none'; // 요소를 숨김
                    }, 500); // 트랜지션 지속 시간과 일치시킴
                }

                // 선택한 차트를 보이게 함
                const chartToShow = document.getElementById("dashboard-" + item + "-chart");
                if (chartToShow) {
                    chartToShow.style.display = 'block'; // 요소를 표시
                    setTimeout(() => {
                        chartToShow.style.opacity = 1; // 투명도 설정
                    }, 10); // 브라우저가 display 변경을 인식한 후에 opacity 적용
                }

                setTimeout(() => {
                    switch (item) {
                        case 'dates':
                            drawDatesChart();
                            break;
                        case 'browsers':
                            drawBrowsersChart();
                            break;
                    }
                }, 0);
            }

            function drawDatesChart(){
                Morris.Line({
                    element: 'dashboard-dates-chart',
                    data: dataVisits,
                    xkey: 'visitMonth',
                    ykeys: ['visitCount'],
                    ymin: 'auto 40',
                    labels: ['Dates'],
                    xLabels: "month",
                    hideHover: 'auto',
                    resize: true,
                    lineColors: [
                        config.chart.colorSecondary,
                    ],
                    pointFillColors: [
                        config.chart.colorPrimary,
                    ]
                });
                document.getElementById("dashboard-dates-chart").style.opacity = 1;
            }

            function drawBrowsersChart(){
                Morris.Bar({
                    element: 'dashboard-browsers-chart',
                    data: browsersVisits,
                    xkey: 'browserInfo',
                    ykeys: ['visitCount'],
                    labels: ['Browsers'],
                    hideHover: 'auto',
                    resize: true,
                    barColors: [
                        config.chart.colorPrimary,
                        '#444'
                    ],
                });
                document.getElementById("dashboard-browsers-chart").style.opacity = 1;
            }

            /* 지역 별 조회수(도넛 차트) */
            const destinationNViewCount = `[[${destinationNViewCount}]]`;
            let destinView = destinationNViewCount
                .slice(1, -1) // 양쪽 끝의 대괄호 제거
                .split(/\),\s*ProductDestinationInfo\(/) // 각 ProductDestinationInfo 객체로 분리
                .map(item => {
                    // 처음과 끝의 괄호를 제거
                    item = item.replace(/ProductDestinationInfo\(|\)/g, '');
                    // destination과 count 값을 정규식으로 추출
                    const match = item.match(/destination=([^\s,]+),\s*count=(\d+)/);
                    if (match) {
                        return { label: match[1], value: parseInt(match[2], 10) }; // count 값을 숫자로 변환하여 반환
                    }
                })
                .filter(item => item && item.value > 0);

            drawSalesChart();

            function drawSalesChart(){

                $dashboardSalesBreakdownChart.empty();

                // 기본 색상 정의
                const primaryColor = '#5865F2';  // 기본 색상
                const lightColor = '#8FA9FF';    // 기본 색상보다 밝은 색상
                const darkColor = '#3A4CB2';     // 기본 색상보다 어두운 색상

                Morris.Donut({
                    element: 'dashboard-sales-breakdown-chart',
                    data: destinView,
                    resize: true,
                    colors: [
                        lightColor,  // 수동으로 밝은 색상 지정
                        darkColor,   // 수동으로 어두운 색상 지정
                        primaryColor // 기본 색상
                    ],
                });
            }


            /* 상품 별 좋아요 수 */
            // const ctx = document.getElementById('barChart').getContext('2d');

            // 차트 데이터와 옵션 설정
            // const barChart = new Chart(ctx, {
            //     type: 'bar',
            //     data: {
            //         labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
            //         datasets: [{
            //             label: 'Bar Dataset',
            //             data: [34, 25, 19, 34, 32, 44, 28, 30, 35, 27],
            //             backgroundColor: '#5865F2', // 바 차트 색상 설정
            //             borderColor: '#3A4CB2', // 바 차트 테두리 색상 설정
            //             borderWidth: 1 // 바 차트 테두리 두께 설정
            //         }]
            //     },
            //     options: {
            //         maintainAspectRatio: false,
            //         scales: {
            //             y: {
            //                 beginAtZero: true,
            //                 max: 50, // y축 최대값 설정
            //                 ticks: {
            //                     stepSize: 10 // y축 간격을 10으로 설정
            //                 }
            //             }
            //         },
            //         plugins: {
            //             legend: {
            //                 display: false // 범례를 숨김
            //             }
            //         }
            //     }
            // });

            /* 광고 통계량 */
            drawAdvertisementDatesChart();

            function drawAdvertisementDatesChart(){
                Morris.Line({
                    element: 'dashboard-advertisement-chart',
                    data: [
                        {clickMonth: '2024-01', clickCount: 10},
                        {clickMonth: '2024-02', clickCount: 25},
                        {clickMonth: '2024-03', clickCount: 12},
                        {clickMonth: '2024-04', clickCount: 9},
                        {clickMonth: '2024-05', clickCount: 31},
                    ],
                    xkey: 'clickMonth',
                    ykeys: ['clickCount'],
                    ymin: 'auto 40',
                    labels: ['adClick'],
                    xLabels: "month",
                    hideHover: 'auto',
                    resize: true,
                    lineColors: [
                        config.chart.colorSecondary,
                    ],
                    pointFillColors: [
                        config.chart.colorPrimary,
                    ]
                });
                document.getElementById("dashboard-advertisement-chart").style.opacity = 1;
            }
        </script>
    </main>

<!--    <script layout:fragment="js">-->
<!--        $(document).ready(function(){-->
<!--            $("#sideRefund").addClass("active");-->
<!--        });-->
<!--    </script>-->
</body>
</html>