body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f7f7f7;
}

#chat-container {
    width: 90%;
    max-width:1300px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#chat-header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
}

/* 채팅방 이름과 참여 인원수를 한 줄로 배치 */
#chat-header .header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* 채팅방 이름과 카테고리 사이의 간격 */
}

#chat-header .chat-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#chat-header .members-num {
    font-size: 16px;
    color: #777;
    margin-left: 10px;
}

/* 카테고리를 채팅방 이름 아래에 배치 */
#categories {
    display: flex;
    justify-content: center; /* 카테고리를 중앙에 배치 */
    margin-top: 10px;
}

#categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.category-label {
    padding: 5px 10px;
    background-color: #E0E0E0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.category-label:hover {
    background-color: #C0C0C0;
}

.chat-box {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    height: 730px;
    overflow-y: auto;
    box-sizing: border-box;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date-separator {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    color: #555; /* 색상은 필요에 따라 변경 */
    width: 100%; /* 전체 너비를 차지하도록 설정 */
    box-sizing: border-box;
}

.message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.message .content {
    margin-top: 5px;
    max-width: 70%;
    word-wrap: break-word;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    white-space: pre;
}

.sent-message {
    align-items: flex-end;
    text-align: right;
}

.received-message {
    align-items: flex-start;
    text-align: left;
}

/* 시간 스타일 */
.message .sent-time {
    font-size: 12px;
    color: #888;
    align-items: flex-end; /* 하단에 맞춰서 배치 */
    gap: 10px; /* 간격 추가 */
    white-space: nowrap; /* 시간이 여러 줄로 줄바꿈되지 않도록 설정 */
}

/* 메시지의 실제 배경색을 설정하는 .content의 배경색을 사용 */
.sent-message .content {
    background-color: #66CDAA; !important; /* 메시지의 배경색을 밝게 설정 */
    color: white;
}

/* 메시지의 실제 배경색을 설정하는 .content의 배경색을 사용 */
.message.received-message .content {
    background-color: #f1f1f1; !important; /* 메시지의 배경색을 밝게 설정 */
}

/* 입장 메시지 스타일 추가 */
.member-join-message {
    font-style: italic;
    color: #888;
    text-align: center;
    margin: 10px 0;
}

.message .member-name {
    font-weight: bold;
}

.message .sent-time {
    font-size: 12px;
    color: #888;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
}

#message-input {
    flex: 1;
    min-height: 30px;
    max-height: 100px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: 10px;
    background-color: #f9f9f9;
    color: black;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    box-sizing: border-box;
}

.chat-input button {
    width: 35px; /* 크기 조정 */
    height: 35px; /* 크기 조정 */
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    position: relative;
    color: #D9D9D9;
}

.chat-input button::before {
    content: '\279C';
    font-size: 20px;
    color: #777;
}

