/* 채팅방 */
.chat-box {
    box-sizing: border-box;
    height: calc(100vh - 100px);
    border: 1px solid #808080;
    border-top: none;

    display: flex;
    flex-direction: column;
}
/* 채팅방 - 헤더 */
.chat-box .content-header {
    box-sizing: border-box;
    padding: 20px;
}
/* 헤더 - 상단 */
.chat-box .content-header .header-top {
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* 채팅방 인원수 */
.chat-box .content-header .header-top .current-room-member {
    font-weight: 700;
    color: #808080;
}
/* 헤더 - 카테고리 */
.chat-box .content-header .chat-category-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.chat-box .content-header .chat-category-box .chat-category-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 13px;
    background-color: #D9D9D9;
}
/* 채팅방 - 컨텐츠 */
.chat-box .content-body {
    flex: 1;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 20px;
}
/* 채팅방 기록 */
.chat-box .content-body .chat-log-box {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/* 채팅방 날짜 표시 */
.chat-box .content-body .chat-log-box .date-notice {
    height: 50px;
}
.chat-box .content-body .chat-log-box .date-notice span {
    padding: 5px 20px;
    border-radius: 16px;
    background-color: #D9D9D9;
    line-height: 50px;
}
/* 채팅방 입장 표시 */
.chat-box .content-body .chat-log-box .enter-member {
    height: 50px;
}
.chat-box .content-body .chat-log-box .enter-member span {
    padding: 5px 20px;
    border-radius: 16px;
    background-color: #D9D9D9;
    line-height: 50px;
}
/* 채팅 */
.chat-box .content-body .chat-log-box .chat {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* 채팅 상단 */
.chat-box .content-body .chat-log-box .chat .chat-top {
    display: flex;
    align-items: flex-end;
}
/* 채팅 사용자 이름 */
.chat-box .content-body .chat-log-box .chat .username {
    padding: 0 10px;
    font-weight: 700; font-size: 18px;
}
/* 채팅 내용 */
.chat-box .content-body .chat-log-box .chat .chat-content {
    padding: 10px;
    border-radius: 10px;
}
/* 채팅 시간 */
.chat-box .content-body .chat-log-box .chat .chat-time {
    font-size: 14px;
    color: #808080;
}
/* 채팅:자신 */
.chat-box .content-body .chat-log-box .chat.mine {
    align-items: flex-end;
}
/* 채팅:자신 상단 */
.chat-box .content-body .chat-log-box .chat.mine .chat-top {
    flex-direction: row-reverse;
}
/* 채팅:자신 내용 */
.chat-box .content-body .chat-log-box .chat.mine .chat-content {
    background-color: #66CDAA;
    color: #fff;
}
/* 채팅:상대 */
.chat-box .content-body .chat-log-box .chat.other {
    align-items: flex-start;
}
/* 채팅:상대 내용 */
.chat-box .content-body .chat-log-box .chat.other .chat-content {
    background-color: #D9D9D9;
}
/* 채팅방 - 푸터 */
.chat-box .content-footer {
    padding: 20px;
}
/* 채팅 입력폼 */
.chat-box .content-footer .chat-input-field {
    display: flex;
    gap: 20px;
}
/* 채팅 입력란 */
.chat-box .content-footer .chat-input-field input {
    flex: 1;
    padding: 10px 20px;
    border-radius: 25px;
}
/* 채팅 제출 버튼 */
.chat-box .content-footer .chat-input-field .submit-btn {
    box-sizing: border-box;
    width: 50px; height: 50px;
    border-radius: 50%;

    background-color: #D9D9D9;
}
.chat-box .content-footer .chat-input-field .submit-btn img {
    width: 30px; height: 30px;
}