/* Container and layout styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-item .nav-link {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #000;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #f8f9fa;
    border-color: #ddd #ddd #fff;
}

.button-container {
    margin-top: 20px;
}

/* 버튼들을 수평으로 배치할 버튼 그룹 */
.button-group {
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 버튼을 중앙에 배치 */
    gap: 10px; /* 버튼 사이의 간격 조정 */
}

.button-container .list-button {
    color: #fff;
    background-color: #66CDAA;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

/* Category Badge Styles */
.category-badge {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #e0e0e0; /* 배경색을 회색으로 */
    color: #000; /* 텍스트 색상을 검정으로 */
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 14px; /* 폰트 크기 */
    font-weight: bold; /* 폰트 굵기 */
}

.category-badge:last-child {
    margin-right: 0; /* 마지막 배지는 오른쪽 마진 제거 */
}

.header {
    margin-top: 20px;
    text-align: center;
}

.header h2 {
    font-size: 24px;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-bar .create-date {
    font-size: 14px;
    color: #555;
}

.info-bar .user-info {
    text-align: right;
}

.info-bar .user-info .nickname {
    font-size: 14px;
    font-weight: bold;
}

.info-bar .user-info .total-participants {
    font-size: 14px;
    color: #555;
}

.details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-height: 400px; /* 최대 높이를 설정합니다 */
    overflow-y: auto; /* 내용이 넘치면 스크롤을 추가합니다 */
}

.button-container .btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    background-color: #66CDAA;
    color: white;
    border: 2px solid transparent; /* 초기에는 투명한 테두리 */
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
}

.btn-update,
.btn-chat,
.btn-join {
    background-color: #66CDAA;
    color: white;
    border-radius: 5px;
    border: 2px solid transparent;
}

/* 버튼 호버 스타일 */
.button-container .btn:hover {
    background-color: #66CDAA; /* 배경색을 흰색으로 변경 */
    color: white; /* 글씨는 배경색과 동일하게 */
}

/* 상단 오른쪽에 위치한 목록 버튼 */
.button-container.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* 하단 중앙에 위치한 참여하기/채팅방/수정하기 버튼 */
.button-container.bottom-center {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}