<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/header-n-side}">
<head>
    <title>Chatroom List</title>

    <link rel="stylesheet" th:href="@{/css/chatroom/list.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>

    <script th:src="@{/js/chatroom/list.js}"></script>
</head>

<body>
    <main layout:fragment="main" id="chatroom-container" class="mt-20">
        <!-- 탭 -->
        <ul class="nav nav-tabs d-flex w-100">
            <li class="nav-item flex-fill">
                <a class="nav-link active text-center d-flex justify-content-center align-items-center" data-tab="all" href="#">전체</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link text-center d-flex justify-content-center align-items-center" data-tab="our" href="#">우리모임</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link text-center d-flex justify-content-center align-items-center" data-tab="mine" href="#">내모임</a>
            </li>
        </ul>

        <!-- 검색창 -->
        <div class="search-bar">
            <div class="search-container">
                <div class="dropdown">
                    <select id="searchType" class="search-select">
                        <option value="name">제목</option>
                    </select>
                    <input type="text" id="searchQuery" placeholder="검색어를 입력하세요" class="search-input"/>
                    <button id="searchButton" class="search-button">
                        <img th:src="${imageUrl}" alt="Search" class="search-icon">
                    </button>
                </div>
            </div>
        </div>

        <!-- 카테고리 버튼 -->
        <div class="category-buttons">
            <button
                    type="button"
                    th:each="theme : ${themeList}"
                    th:data-category="${theme.getName}"
                    class="category-button"
                    th:text="${theme.getDisplayKorName}"></button>
        </div>

        <!-- 전체수 & 만들기 버튼 -->
        <div class="summary-bar">
            <div class="total-chatroom-count">
                전체 수 <span id="totalCount" th:text="${totalCount}">0</span>개
            </div>
            <div class="regist-button-container">
                <a th:href="@{/chatroom/regist}" class="create-button">만들기</a>
            </div>
        </div>

        <!-- 목록 -->
        <ul id="list-container" class="list-container">
            <li class="no-results d-none" id="no-results"></li>
            <li th:each="chatroom : ${chatroomList}" class="list-item">
                <a th:href="@{/chatroom/{chatroomId}(chatroomId = ${chatroom.getId})}">
                    <div class="list-item-content d-flex align-items-center justify-content-end">
                        <div class="d-flex align-items-center w-100">
                            <!-- 제목 -->
                            <h3 class="list-title m-0" th:text="${chatroom.name}"><strong>Chatroom Name</strong></h3>
                            <!-- 닉네임 -->
                            <span class="list-nickname ms-3" th:text="${chatroom.nickName}">Nickname</span>
                            <!-- 카테고리 -->
                            <div class="list-categories ms-3">
                                <span class="category-badge" th:each="category : ${chatroom.categories}" th:text="${category}">Category</span>
                            </div>
                        </div>
                        <!-- 참여 인원수 (오른쪽 정렬) -->
                        <div class="list-participants" style="margin-left:auto;">
                            참여 인원수: <span th:text="${chatroom.memberCount}">참여인원수</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 페이지 -->
        <nav aria-label="Page navigation example" id="pagination">
            <ul class="pagination justify-content-center">
                <!-- Previous 버튼 -->
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="|@{/chatroom/list(page=${currentPage - 1}, size=${pageSize})}|" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- 페이지 번호 -->
                <li th:each="page : ${#numbers.sequence(0, totalPages - 1)}" class="page-item" th:classappend="${page == currentPage} ? 'active'">
                    <a class="page-link" th:href="|@{/chatroom/list(page=${page}, size=${pageSize})}|" th:text="${page + 1}">1</a>
                </li>

                <!-- Next 버튼 -->
                <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="|@{/chatroom/list(page=${currentPage + 1}, size=${pageSize})}|" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </main>
</body>
</html>