<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/default}">
<head>
    <title>loginInfo</title>
    <style>
        .card {
            border: 2px solid #e3e6f0;
            margin: 50px;
        }
        .card-header {
            display: flex;
            align-items: center; /* 헤더와 탭을 수직 정렬 */
            justify-content: space-between; /* 헤더와 탭 사이의 공간 조정 */
            border-bottom: 1px solid #d7dde4;
        }
        .card-block-visit {
            padding: 20px;
        }
        .header-block {
            flex-grow: 1; /* 헤더가 남은 공간을 채우도록 설정 */
            padding: 0.5rem 15px;
            align-items: center;
        }
        .nav-tabs {
            border-color: transparent;
            align-self: stretch;
            display: flex;
            position: relative;
            top: 1px;
        }
        .title {
            color: #4f5f6f;
            font-size: 1.1rem;
            font-weight: 600;
        }
        h3 {
            margin-bottom: 0px;
        }
        #dashboard-dates-chart, #dashboard-browsers-chart {
            opacity: 0;  /* 처음에는 투명하게 설정 */
            transition: opacity 0.5s ease-in-out;  /* 트랜지션 효과 설정 */
        }
        #dashboard-dates-chart.show, #dashboard-browsers-chart.show {
            opacity: 1;  /* show 클래스가 추가되면 차트가 보이도록 설정 */
        }
        #dashboard-dates-chart svg, #dashboard-browsers-chart svg {
            transition: none; /* SVG 자체에는 트랜지션 적용 안 함 */
            width: 100%;
            height: auto;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> <!-- 날짜 처리를 위한 Moment.js 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script> <!-- 날짜 범위 선택을 위한 라이브러리 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <main layout:fragment="main">
        <div style="margin: 53px;">
            <input type="text" id="date-range" name="daterange" value="2024/06/01 ~ 2024/08/31" />
            <button id="fetch-data-btn" class="btn btn-primary">조회</button>
        </div>
            <div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
                <div class="card-header card-header-sm bordered">
                    <div class="header-block">
                        <h3 class="title">회원 접속량</h3>
                    </div>
                    <ul class="nav nav-tabs pull-right" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#dates" role="tab" data-toggle="tab">Dates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#browsers" role="tab" data-toggle="tab">Browsers</a>
                        </li>
                    </ul>
                </div>
                <div class="card-block-visit">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active fade show" id="dates">
                            <p class="title-description">
                                Number of unique visits last 6 months
                            </p>
                            <div id="dashboard-dates-chart"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="browsers">
                            <p class="title-description">
                                Number of unique visits last 6 months
                            </p>
                            <div id="dashboard-browsers-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        <script>
            /* 6개월 회원 접속 통계 데이터 */
            const loginInfoList = `[[${loginInfoList}]]`;
            // console.log("6개월 데이터 loginInfoList: ", loginInfoList);
            let dataVisits = loginInfoList
                .slice(1, -1) // 양쪽 끝의 대괄호 제거
                .split(/,\s*VisitCountDto/) // 각 VisitCountDto로 분리
                .map(item => {
                    const match = item.match(/visitMonth=(\d{4}-\d{2}), visitCount=(\d+)/);
                    if (match) {
                        return { visitMonth: match[1], visitCount: parseInt(match[2], 10) };
                    }
                })
                .filter(Boolean); // 유효한 객체만 필터링

            // console.log(dataVisits);

            const browserCounts = `[[${browserCounts}]]`;
            // console.log("6개월 데이터 browserCounts: ", loginInfoList);
            let browsersVisits = browserCounts
                .slice(1, -1) // 양쪽 끝의 대괄호 제거
                .split(/,\s*BrowserCountDto/) // 각 VisitCountDto로 분리
                .map(item => {
                    const match = item.match(/browserInfo=(\w+), visitCount=(\d+)/); // 정규식으로 매칭
                    if (match) {
                        return { browserInfo: match[1], visitCount: parseInt(match[2], 10) };
                    }
                })
                .filter(Boolean); // 유효한 객체만 필터링
            // console.log(browsersVisits);


            // 날짜 선택기 초기화
            $(function() {
                $('#date-range').daterangepicker({
                    opens: 'left',
                    locale: {
                        format: 'YYYY/MM/DD' // 이 부분을 명시하여 날짜 형식을 확실하게 합니다.
                    }
                });
            });

            // 조회 버튼 클릭 이벤트 처리
            $('#fetch-data-btn').on('click', function() {
                const dateRange = $('#date-range').val().split(' - ');
                const startDate = moment(dateRange[0], 'YYYY/MM/DD').format('YYYY-MM-DD');
                const endDate = moment(dateRange[1], 'YYYY/MM/DD').format('YYYY-MM-DD');

                fetchDataAndUpdateCharts(startDate, endDate);
            });

            function fetchDataAndUpdateCharts(startDate, endDate) {
                console.log("startDate2: ", startDate);
                console.log("endDate2: ", endDate);
                const csrfHeader = "[[${_csrf.headerName}]]";
                const csrfToken = "[[${_csrf.token}]]";
                const headers = {
                    [csrfHeader] : csrfToken
                }
                $.ajax({
                    url: '/admin/stat/search',
                    type: 'POST',
                    headers,
                    data: JSON.stringify({
                        startDate: startDate,
                        endDate: endDate
                    }),
                    contentType: 'application/json',
                    success: function(response) {
                        const {datesData, browsersData} = response;
                        // console.log("datesData:", datesData);
                        dataVisits = datesData;
                        // console.log("loginInfoList:", dataVisits);
                        // console.log("browsersData:", browsersData);
                        browsersVisits = browsersData;
                        // console.log("browsersVisits:", browsersVisits);

                        const newTitle = `${startDate} ~ ${endDate}`;
                        $('.title-description').text(newTitle);

                        switchHistoryCharts("dates");
                    },
                    error: function(error) {
                        console.log('Error fetching data:', error);
                    }
                });
            }

            // $(function() {
            //     if (!$('#dashboard-dates-chart').length) {
            //         return false;
            //     }

                const config = {
                    chart: {
                        colorPrimary: '#5865F2',  // 원하는 기본 색상
                        colorSecondary: '#3B67FF' // 원하는 보조 색상
                    }
                };

                drawDatesChart();

                $('a[data-toggle="tab"]').on('click', function (e) {
                    e.preventDefault();  // 기본 동작 방지 (탭 전환 동작)

                    // 현재 활성화된 탭과 컨텐츠를 비활성화
                    $('a[data-toggle="tab"]').removeClass('active');
                    $('.tab-pane').removeClass('active show');

                    // 클릭된 탭을 활성화
                    $(this).addClass('active');

                    // 해당 탭의 컨텐츠를 활성화
                    const item = $(this).attr('href').replace('#', '');
                    $('#' + item).addClass('active show');

                    // 차트 전환 함수 호출
                    switchHistoryCharts(item);
                });

                $(document).on("themechange", function(){
                    switchHistoryCharts(item);
                });

                function switchHistoryCharts(item){
                    let chartSelector = "#dashboard-" + item + "-chart";

                    if ($(chartSelector).has('svg').length) {
                        $(chartSelector).empty();
                    }

                    if(item === "dates") {
                        document.getElementById("dashboard-browsers-chart").style.opacity = 0; // 투명하게 설정
                        setTimeout(() => {
                            document.getElementById("dashboard-browsers-chart").style.display = 'none'; // 요소를 숨김
                        }, 500); // 트랜지션 지속 시간과 일치시킴
                    } else {
                        document.getElementById("dashboard-dates-chart").style.opacity = 0; // 투명하게 설정
                        setTimeout(() => {
                            document.getElementById("dashboard-dates-chart").style.display = 'none'; // 요소를 숨김
                        }, 500); // 트랜지션 지속 시간과 일치시킴
                    }

                    // 선택한 차트를 보이게 함
                    const chartToShow = document.getElementById("dashboard-" + item + "-chart");
                    if (chartToShow) {
                        chartToShow.style.display = 'block'; // 요소를 표시
                        setTimeout(() => {
                            chartToShow.style.opacity = 1; // 투명도 설정
                        }, 10); // 브라우저가 display 변경을 인식한 후에 opacity 적용
                    }

                    setTimeout(() => {
                        switch (item) {
                            case 'dates':
                                drawDatesChart();
                                break;
                            case 'browsers':
                                drawBrowsersChart();
                                break;
                        }
                    }, 0);
                }

                function drawDatesChart(){
                    Morris.Line({
                        element: 'dashboard-dates-chart',
                        data: dataVisits,
                        xkey: 'visitMonth',
                        ykeys: ['visitCount'],
                        ymin: 'auto 40',
                        labels: ['Dates'],
                        xLabels: "month",
                        hideHover: 'auto',
                        resize: true,
                        lineColors: [
                            config.chart.colorSecondary,
                        ],
                        pointFillColors: [
                            config.chart.colorPrimary,
                        ]
                    });
                    document.getElementById("dashboard-dates-chart").style.opacity = 1;
                }

                function drawBrowsersChart(){
                    Morris.Bar({
                        element: 'dashboard-browsers-chart',
                        data: browsersVisits,
                        xkey: 'browserInfo',
                        ykeys: ['visitCount'],
                        labels: ['Browsers'],
                        hideHover: 'auto',
                        resize: true,
                        barColors: [
                            config.chart.colorPrimary,
                            '#444'
                        ],
                    });
                    document.getElementById("dashboard-browsers-chart").style.opacity = 1;
                }
            // });
        </script>
    </main>
</body>
</html>