<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
</head>
<body>
    <header th:fragment="headerFragment">
        <div class="header-group">
            <h1><a th:href="@{/}"><span>Up</span> <span>Down</span></a></h1>
            <ul class="menu">
                <li><a th:href="@{/}">메인</a></li>
                <li><a th:href="@{/chatroom/list}">SPOT</a></li>
                <li>
                    <div sec:authorize="isAnonymous()">
                        <a th:href="@{/auth/login}">로그인</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form id="logoutFrm" th:action="@{/auth/logout}" method="post">
                            <button type="button" onclick="submit()" style="font-size: 16px;">로그아웃</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <script>
            function submit() {
                document.getElementById("logoutFrm").submit();
            }
        </script>
    </header>
</body>
</html>