<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Left Side Nav</title>
</head>
<body>
    <aside th:fragment="leftSideNav" class="left-side-nav">
        <div class="theme-menu"></div>
        <div class="ads-box"></div>
    </aside>
</body>
</html>