@import "reset.css";
@import "default.css";

/*헤더*/
header {
    box-sizing: border-box;
    width: 100%; height: 100px;
    min-width: 1400px;
    border-bottom: 1px solid #808080;
}
header .header-group {
    box-sizing: border-box;
    width: 1400px; height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-group h1 span:first-child {
    color: #265AB4;
}
header .header-group h1 span:last-child {
    color: #66CDAA;
}
header .header-group ul {
    display: flex;
    gap: 20px;
}

/*레이아웃*/
.layout {
    min-width: 1400px;
    display: flex;
}
/*좌측 사이드 네비*/
.left-side-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.left-side-nav .theme-menu {
    float: right;
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: #265AB4;
}
.left-side-nav .theme-menu ul {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 20px;
}
.left-side-nav .theme-menu ul li {
    font-weight: 700;
    color: #fff;
}
.left-side-nav .ads-box {
    float: right;
    box-sizing: border-box;
    width: 200px; height: 400px;
    margin: 20px;
    background-color: #D9D9D9;
}
.left-side-nav .ads-box img {
    width: 100%; height: 100%;
}
/*main*/
.layout > main {
    width: 1000px;
}
/*우측 사이드 네비*/
.right-side-nav {
    flex: 1;
}
.right-side-nav .ads-box {
    float: left;
    box-sizing: border-box;
    width: 300px; height: 600px;
    margin: 20px;
    background-color: #D9D9D9;
}
.right-side-nav .ads-box img {
    width: 100%; height: 100%;
}