/* 상품이미지 */
main > div > .product-image {
    position: relative;
    width: 100%; height: 400px;
    border-radius: 10px;
    background-color: #D9D9D9;
    overflow: hidden;
}
main > div > .product-image img {
    position: relative;
    width: 100%; height: 100%;
    object-fit: cover;
}
.product-image .notify-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
/* 상품배지 */
.badge {
    margin: 20px;
    font-size: 0;

    display: flex;
    gap: 10px;
}
.badge p {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #808080;
    border-radius: 10px;
    font-size: 16px;
    color: #808080;
}
/* 상품제목 */
main > div > .title {
    margin: 20px;
}
/* 상품설명 */
main > div > .description {
    margin: 20px;
    color: #808080;
}
/* 좋아요, 공유하기 */
.action {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.action button img {
    width: 30px; height: 30px;
}
.action .share-alert {
    position: fixed;
    bottom: 100px; left: 50%;
    transform: translateX(-50%);

    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0; /* 처음엔 숨겨진 상태 */
    transition: opacity 1s; /* 서서히 사라지는 효과 */
}
.action .share-alert.notify {
    opacity: 1; /* 나타날 때는 바로 보이도록 */
}
/* 구매하기 */
.price-box {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.price-box .price {
    font-weight: bold; font-size: 24px;
}
.price-box .source-site-btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: #265AB4;
    font-weight: bold;
    color: #fff;
}
/* 탭 리스트 */
.tab-list {
    display: block flex;
    box-sizing: border-box;
    border-bottom: 1px solid #808080;
    margin-top: 50px;
    justify-content: space-around;
}
.tab-list li a {
    display: block;
    box-sizing: border-box;
    width: 300px; height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: #808080;
}
.tab-list li.on a {
    border-bottom: 2px solid #265AB4;
    font-weight: bold;
    color: #265AB4;
}
/* 가격비교 */
.price-compare {
    margin-bottom: 50px;
}
.travel-agency {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.travel-agency .logo {
    width: 100px; height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}
.travel-agency .logo p.travel-agency-name {
    width: 100%; height: 100%;
    text-align: center;
    line-height: 50px;
}
.travel-agency .logo img.travel-agency-name {
    width: 100%; height: 100%;
    object-fit: contain;
}
.travel-agency .info {
    box-sizing: border-box;
    height: 100px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.travel-agency .info .title {
    font-weight: 700; font-size: 16px;
}
.travel-agency .info .description {
    font-size: 16px;
}
.travel-agency .source-site-btn {
    padding: 10px;
    border-radius: 10px;
    background-color: #265AB4;
    font-weight: bold;
    color: #fff;
}
/* 연관상품 */
.related-product {
    margin-bottom: 50px;
}
.related-product h1 {
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #808080;
}
.relation-section {
    box-sizing: border-box;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid #808080;
}
.relation-section > .title {
    margin-bottom: 20px;
    font-size: 24px;
}
.relation-section .product-group {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.relation-section .product-group .product .product-image {
    width: 200px; height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.relation-section .product-group .product .product-image img {
    width: 100%; height: 100%;
    object-fit: cover;
}
.relation-section .product-group .product .title {
    margin-bottom: 10px;
    font-weight: 700;
}
.relation-section .product-group .product .price {
    float: right;
    font-weight: bold; font-size: 24px;
}