/* 상품이미지 */
main > .product-image {
    width: 100%; height: 400px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
/* 상품배지 */
.badge {
    margin: 20px;
    font-size: 0;
}
.badge p {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #808080;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: #808080;
}
/* 상품제목 */
main > .title {
    margin: 20px;
}
/* 상품설명 */
main > .description {
    margin: 20px;
    color: #808080;
}
/* 좋아요, 공유하기 */
.action {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.action button img {
    width: 30px; height: 30px;
}
/* 구매하기 */
.price-box {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.price-box .price {
    font-weight: bold; font-size: 24px;
}
.price-box .source-site-btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: #265AB4;
    font-weight: bold;
    color: #fff;
}
/* 탭 리스트 */
.tab-list {
    display: block flex;
    box-sizing: border-box;
    border-bottom: 1px solid #808080;
    margin-top: 50px;
    justify-content: space-between;
}
.tab-list li a {
    display: block;
    box-sizing: border-box;
    width: 300px; height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: #808080;
}
.tab-list li.on a {
    border-bottom: 2px solid #265AB4;
    font-weight: bold;
    color: #265AB4;
}
/* 가격비교 */
.travel-agency {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.travel-agency .logo {
    width: 100px; height: 100px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #D9D9D9;
}
.travel-agency .info {
    box-sizing: border-box;
    height: 100px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.travel-agency .info .title {
    font-size: 24px;
}
.travel-agency .info .description {
    font-size: 16px;
}
.travel-agency .source-site-btn {
    padding: 10px;
    border-radius: 10px;
    background-color: #265AB4;
    font-weight: bold;
    color: #fff;
}
/* 상품의견 */
.comment-area > h1,
.related-product > h1 {
    width: 100%; height: 50px;
    margin-top: 50px;
    border-bottom: 2px solid #808080;
    line-height: 50px;
}
.comment-area .profile-image {
    width: 50px; height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #D9D9D9;
}
.comment-area .star {
    color: #FFC300;
}
/* 댓글 작성란 */
.comment-input {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    display: flex;
}
.comment-input .input-field {
    flex: 1;
}
.comment-input .input-field .star {
    margin-bottom: 10px;
}
.comment-input .input-field input {
    width: 100%;
}
.comment-input .input-field .button-group {
    float: right;
    margin-top: 20px;
}
/* 정렬 및 필터 */
.sort-filter-group {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort-filter-group .sort-group {
    display: flex;
    gap: 20px;
    font-size: 0;
}
.sort-filter-group .sort-group button {
    font-size: 16px;
    color: #808080;
}
.sort-filter-group .filter {
    position: relative;
}
.sort-filter-group .filter input {
    width: 200px; height: 30px;
}
.sort-filter-group .filter button {
    position: absolute;
    top: 5px; right: 5px;
}
.sort-filter-group .filter button img {
    width: 20px; height: 20px;
}
/* 댓글목록 */
/* 댓글 */
.comment {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #808080;
    display: flex;
}
.comment .content-group .content-top {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.comment .nickname {
    font-weight: bold;
}
.comment .create-date {
    color: #808080;
}
.comment .content-group .content-bottom {
    margin-top: 20px;
}
.comment .content-group .content-bottom button {
    font-size: 16px;
}
.comment .kebab-menu-icon {
    position: absolute;
    top: 30px; right: 20px;
}
.comment .kebab-menu-icon img {
    width: 20px; height: 20px;
}
/* 답글 */
.reply {
    display: flex;
    align-items: center;
}
.reply > img {
    width: 20px; height: 20px;
    padding: 20px;
}
/* 답글 작성란 */
.reply-input {
    display: flex;
    align-items: center;
}
.reply-input > img {
    width: 20px; height: 20px;
    padding: 20px;
}
.reply-input .comment-input {
    box-sizing: border-box;
    border-top: 1px solid #808080;
}
.reply-input .input-field {
    margin-top: 30px;
}
/* 연관상품 */
.relation-section {
    box-sizing: border-box;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid #808080;
}
.relation-section > .title {
    margin-bottom: 20px;
    font-size: 24px;
}
.relation-section .product-group {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.relation-section .product-group .product .product-image {
    width: 200px; height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.relation-section .product-group .product .title {
    margin-bottom: 10px;
}
.relation-section .product-group .product .price {
    float: right;
    font-weight: bold; font-size: 24px;
}