<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/header-only}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>메인페이지</title>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <main layout:fragment="main" class="mb-50">
        <!--베너-->
        <div class="banner-box">
            <!--베너 이미지-->
            <img th:src="@{/images/index/banner-image.png}" alt="배너 이미지" class="banner-img">
            <!--검색창-->
            <div class="search-box">
                <form th:action="@{/search}" method="get" class="search-frm">
                    <input type="text" name="searchKeywords" id="searchKeywords" class="destination" placeholder="어디로 떠나고 싶으세요?">
                    <select name="nights" id="nights" class="nights">
                        <option value="all" selected>전체</option>
                        <option value="1">1박2일</option>
                        <option value="2">2박3일</option>
                        <option value="3">3박4일</option>
                        <option value="4">4박5일</option>
                        <option value="5">5박6일</option>
                        <option value="6">6박7일</option>
                    </select>
                    <input type="date" name="startDate" id="start-date">
                    <button type="submit">검색하기</button>
                </form>
            </div>
        </div>

        <!--실시간 최다 검색 상품-->
        <div class="most-searched">
            <header>
                <h1>실시간 최다 검색</h1>
            </header>
            <ul class="product-group">
                <!-- Thymeleaf 를 사용하여 전달된 상품 목록을 반복하여 표시 -->
                <li class="product" th:each="product : ${mostSearchedTop4}">
                    <a th:href="@{product/{id}(id = ${product.getId})}">
                        <div class="product-image">
                            <!-- 이미지 URL 을 동적으로 설정 -->
                            <img th:attr="src=${product.representativeImage}" alt="상품 이미지"/>
                        </div>
                        <p class="title" th:text="${product.representativeTitle}">패키지 여행 제목</p>
                        <p class="content" th:text="${product.representativeContent}">상세 내용</p>
                        <p class="price-text">
                            <!-- 가격을 동적으로 설정 -->
                            <span class="price" th:text="${product.representativePrice}">0</span>원
                        </p>
                    </a>
                </li>
            </ul>
        </div>

        <!--테마별 상품-->
        <div class="theme-box">
            <header>
                <div class="header-group">
                    <h1>테마 별로 재미나게 즐기자!</h1>
                    <img th:src="@{/images/index/water-slide.png}" alt="워터슬라이드 아이콘">
                </div>
            </header>
            <div class="theme-group">
                <a class="theme nature" th:href="@{search/nature}">
                    <div class="theme-text">자연</div>
                </a>
                <a class="theme relaxation" th:href="@{search/relaxation}">
                    <div class="theme-text">휴식</div>
                </a>
                <a class="theme romantic" th:href="@{search/romantic}">
                    <div class="theme-text">로맨틱</div>
                </a>
            </div>
        </div>
    </main>
</body>
</html>