<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>up-and-down</title>
</head>
<body>
    <h1>메인페이지</h1>

    <!--베너-->

    <!--검색창-->
    <form th:action="@{/search}" method="get">
        <button type="submit">검색하기</button>
    </form>

    <!--실시간 최다 검색 상품-->

    <!--테마별 상품-->
</body>
</html>