<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/header-n-side}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>상품상세</title>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/product.css}">
    <!-- js -->
    <script defer th:src="@{/js/product.js}"></script>
</head>
<body>
    <main layout:fragment="main" class="mt-20">
        <!-- productGroup 이 null 아닌 경우 상품 데이터 노출 -->
        <div th:if="${productGroup != null}">
            <!-- 상품이미지 -->
            <div class="product-image">
                <img th:src="${productGroup.cheapestProductImage}" alt="상품 이미지">
            </div>
            <!-- 상품배지 -->
            <ul class="badge">
                <li th:each="badge : ${productGroup.getSearchKeywords.getKeywordSet}">
                    <p th:text="${badge}"></p>
                </li>
            </ul>
            <!-- 상품제목 -->
            <h1 class="title" th:text="${productGroup.getTitle()}">패키지 여행 상품 제목</h1>
            <!-- 상품설명 -->
            <p class="description" th:text="${productGroup.getContent}">패키지 여행 상품 설명</p>
            <div class="action">
                <!-- 좋아요 -->
                <button type="button">
                    <img src="https://kr.object.ncloudstorage.com/up-bucket/product/heart-outline.png" alt="좋아요 버튼">
                </button>
                <!-- 공유하기 -->
                <button type="button" class="share-btn">
                    <img src="https://kr.object.ncloudstorage.com/up-bucket/product/share.png" alt="공유 버튼">
                </button>
                <p class="share-alert">URL이 복사되었습니다!</p>
            </div>
            <div class="price-box">
                <span class="price"><span th:text="${productGroup.getCheapestProductPrice()}">0</span>원</span>
                <a th:href="@{|/product/source?redirectUrl=${productGroup.getCheapestProductSourceSite}|}" class="source-site-btn">최저가 구매하기</a>
            </div>
            <!-- 탭 리스트 -->
            <ul class="tab-list">
                <li class="on">
                    <a href="#price-compare-area">가격비교</a>
                </li>
                <li>
                    <a href="#related-product-area">연관상품</a>
                </li>
            </ul>
            <!-- 가격비교 -->
            <ul class="price-compare" id="price-compare-area">
                <li th:each="productInformation : ${productGroup.getProductInformationList}" class="travel-agency">
                    <div class="logo">
                        <!-- 텍스트인 경우 -->
                        <p class="travel-agency-name"
                              th:if="${#strings.startsWith(productInformation.travelAgency, 'http') == false}"
                              th:text="${productInformation.travelAgency}"></p>
                        <!-- 이미지 URL인 경우 -->
                        <img class="travel-agency-name"
                             th:if="${#strings.startsWith(productInformation.travelAgency, 'http') == true}"
                             th:src="${productInformation.travelAgency}"
                             alt="Travel Agency Logo"/>
                    </div>
                    <div class="info">
                        <h2><span class="price" th:text="${productInformation.getPriceString}">0</span>원</h2>
                        <p class="title" th:text="${productInformation.getTitle}">패키지 여행 상품 제목</p>
                        <p class="description" th:text="${productInformation.getContent}">패키지 여행 상품 설명</p>
                    </div>
                    <a th:href="@{|/product/source?redirectUrl=${productInformation.getSourceSite}|}" class="source-site-btn">구매하기</a>
                </li>
            </ul>
            <!-- 연관상품 -->
            <div class="related-product" id="related-product-area">
                <h1>연관상품</h1>
                <div class="relation-section">
                    <p class="title">다른 고객이 함께 본 상품</p>
                    <ul class="product-group">
                        <li th:each="productGroup : ${relatedProductGroups}" class="product">
                            <a th:href="@{/product/{id}(id = ${productGroup.getId})}">
                                <div class="product-image">
                                    <img th:src="${productGroup.getCheapestProductImage()}" alt="상품 이미지">
                                </div>
                                <p class="title" th:text="${productGroup.getTitle()}">패키지 여행 상품 목록</p>
                                <p class="price"><span th:text="${productGroup.getCheapestProductPrice()}">0</span>원</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="relation-section">
                    <p class="title">카테고리 인기 상품</p>
                    <ul class="product-group">
                        <li th:each="productGroup : ${popularProductGroups}" class="product">
                            <a th:href="@{/product/{id}(id = ${productGroup.getId})}">
                                <div class="product-image">
                                    <img th:src="${productGroup.getCheapestProductImage()}" alt="상품 이미지">
                                </div>
                                <p class="title" th:text="${productGroup.getTitle()}">패키지 여행 상품 목록</p>
                                <p class="price"><span th:text="${productGroup.getCheapestProductPrice()}">0</span>원</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- productGroup 이 null 경우 이전 화면으로 이동 -->
        <script th:if="${productGroup == null}">
            alert('상품 정보를 불러오지 못했습니다.');
            window.history.back();
        </script>
    </main>
</body>
</html>